---
// Layout
import BaseLayout from "@/layouts/BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/components/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import SponsorCard from "@/components/tools/SponsorCard.astro";
import FiltersSidebar from "@/components/tools/FiltersSidebar.astro";
// Retrieve all posts from the "posts" collection
import { getCollection } from "astro:content";
const alltools = await getCollection("tools");
import BigCard from "@/components/tools/BigCard.astro";
// Collect all unique tags
const allTags = [...new Set(alltools.flatMap((post) => post.data.tags || []))];
const sortedTags = allTags.sort((a, b) => a.localeCompare(b));
---

<BaseLayout>
  <section>
    <Wrapper variant="hero">
      <Text
        tag="h1"
        variant="displaySM"
        class="text-base-900 font-medium 2xl:text-5xl tracking-tight"
      >
        Explore all our tools
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 text-base-500 text-balance 2xl:text-xl"
      >
        Here you will find all the tools we have hoarded for you.
      </Text>
    </Wrapper>
  </section>
  <section
    x-data="{ leftDrawerOpen: false }"
    @keydown.window.escape="open = false"
  >
    <Wrapper variant="standard" class="py-6">
      <div class="flex items-center gap-2">
        <FiltersSidebar />

        <div
          class="scrollable-content relative flex snap-x snap-proximity gap-2 py-2 px-2 overflow-x-scroll scrollbar-hide"
        >
          {
            sortedTags.map((tag) => (
              <Link
                size="xs"
                variant="ghost"
                title={tag}
                aria-label={tag}
                href={`/tools/tags/${tag}`}
                class="capitalize"
              >
                {tag}
              </Link>
            ))
          }
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 mt-2">
        <!-- Example Content -->
        {
          alltools.map((post, i) => (
            <>
              <BigCard key={`post-${i}`} post={post} />
              {i === 2 && <SponsorCard key={`sponsor-${i}`} />}
            </>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
