---
// Layout
import BaseLayout from "@/layouts/BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/components/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import Insights from "@/components/blog/Insights.astro";
import EntriesOne from "@/components/blog/EntriesOne.astro";
import SubscribeCta from "@/components/blog/SubscribeCta.astro";
import BlogSearch from "@/components/blog/BlogSearch.astro";
// Retrieve all posts from the "posts" collection, which returns an unsorted array of post objects
import { getCollection } from "astro:content";
const allPostsUnsorted = await getCollection("posts");
// Sort the posts in descending order by publication date (newest to oldest)
const allPosts = allPostsUnsorted.sort(
  (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
);
// Collect all unique tags
const allTags = [...new Set(allPosts.flatMap((post) => post.data.tags || []))];
const sortedTags = allTags.sort((a, b) => a.localeCompare(b));
---

<BaseLayout>
  <section>
    <Wrapper variant="hero">
      <Text
        tag="h1"
        variant="displaySM"
        class="text-base-900 2xl:text-5xl font-medium"
      >
        YRX Blog
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="mt-4 text-base-500 text-balance 2xl:text-xl"
      >
        Check out our latest takes on Reddit marketing, AI SEO, and User Generated Content.
      </Text>
      <div class="max-w-sm mt-4"><BlogSearch /></div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-12">
      <div
        class="scrollable-content relative flex snap-x snap-proximity gap-2 py-2 px-2 overflow-x-scroll scrollbar-hide"
      >
        {
          sortedTags.map((tag) => (
            <>
              <Link
                size="xs"
                title={tag}
                variant="ghost"
                aria-label={tag}
                href={`/blog/tags/${tag}`}
              >
                {tag}
              </Link>
            </>
          ))
        }
      </div>

      <div
        class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 mt-8 group"
      >
        {allPosts.slice(0, 3).map((post) => <Insights post={post} />)}
      </div>
      <div class="flex flex-col group mt-24">
        {allPosts.map((post) => <EntriesOne post={post} />)}
      </div>
    </Wrapper>
  </section>
  <SubscribeCta />
</BaseLayout>
