---
import Text from "../fundations/elements/Text.astro";
import Link from "../fundations/components/Link.astro";
import { getCollection } from "astro:content";
const allTools = await getCollection("tools");
const tags = [...new Set(allTools.map((post) => post.data.tags).flat())];
// Define navigation data
const navigationItems = [
  {
    title: "Navigation",
    items: [
      {
        href: "/tools/home",
        text: "Tools",
      },
      {
        href: "/blog/home",
        text: "Blog",
      },
      {
        href: "/store/home",
        text: "Store",
      },
      {
        href: "/about",
        text: "About",
      },

      {
        href: "/pricing",
        text: "Advertise",
      },
      {
        href: "/forms/signin",
        text: "Sign in",
      },
      {
        href: "/forms/signup",
        text: "sign up",
      },
    ],
  },
  {
    title: "System",
    items: [
      {
        href: "/system/overview",
        text: "Overview",
      },
      {
        href: "/system/buttons",
        text: "Links",
      },
      {
        href: "/system/buttons",
        text: "Colors",
      },
      {
        href: "/system/buttons",
        text: "Buttons",
      },
      {
        href: "/system/typography",
        text: "Typography",
      },
    ],
  },
];
---

<div class="flex flex-col gap-12 2xl:py-12">
  <div class="px-8 space-y-2">
    <Text
      tag="p"
      variant="textMD"
      class="font-semibold font-mono uppercase text-black"
    >
      Categories
    </Text>
    {
      tags.map((tag) => (
        <Link
          size="sm"
          variant="link"
          title={tag}
          aria-label={tag}
          href={`/tools/tags/${tag}`}
          class="flex font-mono uppercase font-medium  "
        >
          {tag}
        </Link>
      ))
    }
  </div>
  {
    navigationItems.map((section) => (
      <div class="px-8 space-y-2 ">
        <Text
          tag="p"
          variant="textMD"
          class=" font-semibold font-mono uppercase text-black"
        >
          {section.title}
        </Text>
        {section.items.map((item) => (
          <Link
            variant="link"
            href={item.href}
            class="flex items-center font-mono uppercase text-sm font-medium"
          >
            {item.text}
          </Link>
        ))}
      </div>
    ))
  }
</div>
