---
// Assets
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
// Quick access links
const links = [
  { href: "/", text: "Home" },
  { href: "/directory/home", text: "Directory" },
  { href: "/about", text: "About" },
  { href: "/blog/home", text: "Blog" },
  { href: "https://cal.com/yrx", text: "Work with us", external: true },
];

// Define navigation data
const navigation = [
  {
    title: "Navigation",
    items: [
    {
        href: "/",
        text: "Home",
      },
      {
        href: "/directory/home",
        text: "Directory",
      },
      {
        href: "/about",
        text: "About",
      },
      {
        href: "/blog/home",
        text: "Blog",
      },
      {
        href: "https://cal.com/yrx",
        text: "Work with us",
        external: true,
      },
    ],
  },
];
const system = [
  {
    title: "Navigation",
    items: [
      {
        href: "https://www.linkedin.com/company/yrx",
        text: "LinkedIn",
      },
      {
        href: "https://x.com/YRXmarketing",
        text: "Twitter/X",
      },
    ],
  },
];
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-2 md:grid-cols-2 items-center w-full gap-3 pt-2 lg:pt-8"
    >
      <div class="flex items-center gap-x-4">
        {
          links.map((link) => (
            <Text
              tag="a"
              href={link.href}
              class={`text-base-900 text-xs lg:text-base hover:text-accent-500 font-medium${link.text === "Work with us" ? " whitespace-nowrap" : ""}`}
              {...(link.external ? { target: '_blank', rel: 'noopener noreferrer' } : {})}
            >
              {link.text === "Work with us" ? <span class="inline-block whitespace-nowrap">Work with us</span> : link.text}
            </Text>
          ))
        }
      </div>

      <button
        type="button"
        class="size-9 inline-flex items-center justify-center group ml-auto hover:cursor-pointer"
        @click="rightDrawerOpen = true"
      >
        <div class="p-1.5 group-focus-visible:bg-base-50">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="fill-base-400 size-6 shrink-0 transition duration-300 ease-in-out cursor-pointer"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              :class="{'opacity-0': rightDrawerOpen}"
              d="M4 8l18 0"
              class="opacity-0"></path>
            <path d="M4 16l18 0"></path></svg
          >
        </div>
      </button>
    </div>
  </Wrapper>
</section>
<div
  x-show="rightDrawerOpen"
  x-ref="dialog"
  aria-modal="true"
  style="display: none"
  x-description="off canvas menu for mobile and desktop"
  class="fixed inset-0 z-40 flex justify-end h-full p-2 lg:p-3"
>
  <!-- Overlay -->
  <div
    x-show="rightDrawerOpen"
    x-transition:enter="transition-opacity ease-linear duration-300"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition-opacity ease-linear duration-300"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="fixed inset-0 bg-base-600/50"
    @click="rightDrawerOpen = false"
    aria-hidden="true"
  >
  </div>
  <!-- Menu (Right Side) -->
  <div
    x-show="rightDrawerOpen"
    x-transition:enter="transition ease-in-out duration-300 transform"
    x-transition:enter-start="translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition ease-in-out duration-300 transform"
    x-transition:leave-start="translate-x-0"
    x-transition:leave-end="translate-x-full"
    class="relative flex flex-col w-full lg:max-w-[26rem] bg-white shadow-lg h-full overflow-hidden rounded-xl"
  >
    <!-- Close Button -->
    <div
      x-show="rightDrawerOpen"
      x-transition:enter="ease-in-out duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="ease-in-out duration-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="absolute top-0 right-0 p-2 px-6 py-3"
    >
      <button
        type="button"
        class="text-base-500 hover:text-base-900 focus:outline-none"
        @click="rightDrawerOpen = false"
      >
        <span class="sr-only">Close sidebar</span>
        <svg
          class="size-4 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <!-- Menu Content -->
    <div class="flex-1 overflow-y-auto">
      <div class="flex items-center flex-shrink-0 p-2 py-3 px-6">
        <Text
          tag="p"
          variant="textSM"
          class="uppercase text-base-900 font-semibold"
        >
          Menu
        </Text>
      </div>
      <nav role="navigation">
        <div
          class="flex flex-col gap-6 lg:gap-12 border-t border-base-200 p-2 py-3 px-6"
        >
          {
            navigation.map((section) => (
              <ul role="navigation" class="flex flex-col gap-1">
                {section.items.map((item) => (
                  <li>
                    <Text
                      tag="a"
                      variant="textXL"
                      href={item.href}
                      class="text-base-900 font-semibold  hover:text-accent-500"
                    >
                      {item.text}
                    </Text>
                  </li>
                ))}
              </ul>
            ))
          }
        </div>
        <div
          class="flex flex-col gap-6 lg:gap-12 border-t border-base-200 p-2 py-3 px-6 mt-12"
        >
          {
            system.map((section) => (
              <ul role="navigation" class="flex flex-col gap-1">
                {section.items.map((item) => (
                  <li>
                    <Text
                      tag="a"
                      variant="textSM"
                      variant="link"
                      href={item.href}
                      class=" text-base-500 hover:text-accent-500"
                    >
                      {item.text}
                    </Text>
                  </li>
                ))}
              </ul>
            ))
          }
        </div>
      </nav>
    </div>
    <!-- Footer -->
    <div class="flex-shrink-0 px-6 py-3 border-t border-base-200">
      <div class="flex items-center gap-2">
        <a
          href="https://cal.com/yrx"
          target="_blank"
          rel="noopener noreferrer"
          class="w-full flex justify-center items-center px-4 py-2 rounded-3xl bg-accent-500 text-white font-semibold hover:bg-accent-600 transition-colors duration-200 cursor-pointer"
        >
          Grow faster with yrx.io
        </a>
      </div>
    </div>
  </div>
</div>
