---
// Assets
import { Image } from "astro:assets";
// Layout
import BaseLayout from "./BaseLayout.astro";
// Fundation
import Text from "@/components/fundations/elements/Text.astro";
import Link from "@/components/fundations/components/Link.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Frontmatter
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper variant="heroNarrow">
      <div class="flex flex-col gap-12">
        <div class="lg:col-span-2">
          <Image
            width="500"
            height="500"
            src={frontmatter.image.url}
            alt={frontmatter.image.alt ?? "Fallback alt text if none provided"}
            class="object-cover aspect-16/10 w-full bg-base-100"
          />
        </div>
        <div>
          <Text
            tag="h1"
            variant="displaySM"
            class="text-base-900 font-medium 2xl:text-5xl tracking-tight flex items-center justify-between gap-2 w-full"
            >{frontmatter.title}
            <span>${frontmatter.price}</span></Text
          >
          <Text tag="p" variant="textBase" class="mt-4 text-base-500">
            {frontmatter.description}</Text
          >
          <div class="mt-10 gap-2 grid grid-cols-1 sm:grid-cols-2">
            <Link
              href={frontmatter.checkout}
              size="base"
              variant="default"
              class="w-full md:w-auto justify-center"
            >
              Buy {frontmatter.title} for ${frontmatter.price}
            </Link>
            <Link
              href={frontmatter.preview}
              size="base"
              variant="muted"
              class="w-full justify-center md:w-auto"
            >
              Preview demo
            </Link>
          </div>
          <!-- Accordion sections -->
          <div class="divide-y divide-base-200 border-y border-base-200 mt-8">
            <details class="group cursor-pointer">
              <summary
                class="text-sm leading-normal text-base-900 font-medium flex items-center justify-between w-full py-4 text-left select-none hover:text-accent-500 focus:text-accent-500"
              >
                Details<svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 duration-300 ease-out transform group-open:-rotate-45"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 5l0 14"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
              </summary>
              <div class="pb-4">
                <Text tag="p" variant="textSM" class="text-base-500">
                  This product is crafted from high-quality materials designed
                  for durability and comfort. It features modern design elements
                  and is perfect for everyday use.
                </Text>
                <ul role="list" class="mt-4">
                  {
                    frontmatter.highlights.map((highlight) => (
                      <li>
                        <Text
                          tag="p"
                          variant="textSM"
                          class="text-base-500 text-balance  font-medium"
                        >
                          {highlight}
                        </Text>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </details>
            <details class="group cursor-pointer">
              <summary
                class="text-sm leading-normal text-base-900 font-medium flex items-center justify-between w-full py-4 text-left select-none hover:text-accent-500 focus:text-accent-500"
              >
                Key points<svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 duration-300 ease-out transform group-open:-rotate-45"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 5l0 14"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
              </summary>
              <div class="pb-4">
                <Text tag="p" variant="textSM" class="text-base-500">
                  We offer free standard shipping on all orders above $50.
                  Express shipping options are available at checkout for an
                  additional fee.
                </Text>
                <dl
                  class="flex flex-col gap-4 mt-8 md:col-span-2 lg:col-span-1"
                >
                  {
                    frontmatter.features.map((feature) => (
                      <div>
                        <dt>
                          <Text
                            tag="span"
                            variant="textSM"
                            class="text-base-900 "
                          >
                            {feature.title}
                          </Text>
                        </dt>
                        <dd class="mt-1 text-base-500">
                          <Text tag="span" variant="textSM">
                            {feature.description}
                          </Text>
                        </dd>
                      </div>
                    ))
                  }
                </dl>
              </div>
            </details>
            <details class="group cursor-pointer">
              <summary
                class="text-sm leading-normal text-base-900 font-medium flex items-center justify-between w-full py-4 text-left select-none hover:text-accent-500 focus:text-accent-500"
              >
                License<svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 duration-300 ease-out transform group-open:-rotate-45"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 5l0 14"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
              </summary>
              <div class="pb-4">
                <Text
                  tag="p"
                  variant="textSM"
                  class="text-base-500 text-balance"
                >
                  {frontmatter.license}
                </Text>
              </div>
            </details>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
